.venv/
__pycache__/
*.pyc

data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

.env
profiles.yml
*.pem

airflow.db
airflow.cg
logs/

dbt_project/target/
dbt_project/dbt_packages/

.DS_Store
.vscode/
.idea/
